:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2em;
}



img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    list-style: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* WebStudio */

/* HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navi {
    display: flex;
    align-items: center;
}

/* Logo */


.logo-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;

}

.logo-black {
    color: var(--color-navy-blue);

}

/* /Logo */

/* Menu */

.menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--color-ocean);
}

.current {
    position: relative;
    color: var(--color-ocean);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--color-ocean);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /Menu */

/* Contacts */
.contacts {
    font-style: normal;
    margin-left: auto;

}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-slate);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-ocean);
}

/* /Contacts */

/* /HEADER */

/* Main */

/* Hero */
.hero {
    background: var(--color-navy-blue);
    padding: 188px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/background/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    align-items: center;

}

.hero-button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-iris);
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--color-ocean);
}

/* /Hero */

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-text {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-container {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
}

.modal-form-container {
    position: relative;
    margin-bottom: 8px;
}

.modal-input-container {
    position: relative;
}

.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    margin-bottom: 4px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: var(--color-iris);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus+.modal-icon {
    border-color: var(--color-iris);
    fill: var(--color-iris);
}

.modal-comment-container {
    margin-bottom: 16px;
}

.modal-textarea-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea-comment:focus {
    border-color: var(--color-iris);
}

.modal-privacy-container {
    margin-bottom: 24px;
}

.modal-label-privacy {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.modal-span-privacy-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    fill: transparent;
}

.modal-privacy-checkbox:checked+.modal-label-privacy>.modal-span-privacy-checkbox {
    background-color: var(--color-ocean);
    border-color: var();
    border: none;
    fill: var(--color-cloud)
}

.modal-privacy-checkbox:focus+.modal-label-privacy>.modal-span-privacy-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.modal-vector-icon {
    opacity: 0;
    fill: var(--color-cloud);
}

.modal-privacy-checkbox:checked+.modal-label-privacy .modal-vector-icon {
    opacity: 1;
}

.modal-accept-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-accept-buttom {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--color-iris);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    margin: auto
}

.modal-accept-buttom:hover,
.modal-accept-buttom:focus {
    background: var(--color-ocean);
}

.modal-close-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-buttom:hover,
.modal-close-buttom:focus {
    background-color: var(--color-ocean);
    border: none;
    fill: #ffffff;
}

.modal-privacy-policy-link {
    color: var(--color-iris);
    cursor: pointer;
}

.modal-close-buttom-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: black;
}

/* /Modal window */

/* Visually-Hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* /Visually-Hidden */

/* Offer */

.offers {
    padding: 120px 0;
}

.offers-list {
    display: flex;
    gap: 24px;
}

.offers-item {
    width: calc((100% - 24px * 3) / 4);
}

.offers-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: var(--color-cloud);
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8px;
}

.offers-icon {
    width: 64px;
    height: 64px;
}

.offers-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.offers-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Offer */

/* Work */

.work {
    padding-bottom: 120px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
    width: calc((100% - 24px * 2) / 3);
}

.work-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/* /Work */

/* Team */
.team {
    background: var(--color-cloud);
    padding: 120px 0;
}

.team-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: var(--color-white);
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.team-name {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.team-job-title {
    margin-bottom: 8px;
    color: var(--color-slate);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.team-our {
    padding: 32px 0;
}

/* Team-social-networks */
.social-networks {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.social-networks-link {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 12px 12px;
    background-color: var(--color-iris);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-link:hover,
.social-networks-link:focus {
    background-color: var(--color-ocean)
}

.social-networks-icon {
    fill: var(--color-cloud)
}

/* /Team-social-networks */
/* /Team */

/* Customers */
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title {
    color: var(--color-grey);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    width: 168px;
    height: 88px;
}

.customers-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: var(--color-light-slate);
    padding: 16px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link:hover,
.customers-logo-link:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
}

.customers-logo-icon {
    fill: currentColor;
}

/* /Customers */
/* /Main */

/* Footer */
.footer {
    background: var(--color-navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
}

.footer-container-logo {
    margin-right: 120px;
}

.logo-footer-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-white {
    color: var(--color-cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-text {
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

/* footer-social-networks */


.footer-social-networks-container {
    margin-right: 80px;
}

.footer-social-networks-text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-networks-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-social-networks-item {
    width: 40px;
    height: 40px;
}

.footer-social-networks-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px 8px;
    background-color: var(--color-iris);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-networks-link:hover,
.footer-social-networks-link:focus {
    background-color: var(--color-green);
}

.footer-social-networks-icon {
    fill: var(--color-cloud);

}

/* Subscribe */

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.footer-subscribe-input {
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-subscribe-button {
    display: inline-flex;
    cursor: pointer;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    border-radius: 4px;
    background: var(--color-iris);
    /* Button Text */
    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border: none;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background: var(--color-ocean);
}

.footer-subscribe-icon {
    fill: var(--color-cloud);
    margin-left: 16px;
}

/* /Footer */

/* Portfolio */

.services {
    padding-top: 96px;
    padding-bottom: 120px;
}

.services-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    column-gap: 24px;
    row-gap: 48px;
}


.services-item {
    width: calc((100% - 24px * 2) / 3);
}

.sort-buttons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sort-buttons-item {
    display: block;
    color: var(--color-iris);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--color-cloud);
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sort-buttons-item:hover,
.sort-buttons-item:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.services-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.services-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.services-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.services-link:hover .services-position-text {
    transform: translateY(0%);
}

.services-link:focus .services-position-text {
    transform: translateY(0%);
}

.services-link:hover,
.services-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.services-img-container {
    position: relative;
    overflow: hidden;
}


.services-position-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    padding: 40px 32px;
    background-color: var(--color-iris);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* /Services */
/* /Portfolio */